<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939447004484-aj4ac4dvjkkiei5sseke8h7m7ifnjutv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939447004484-aj4ac4dvjkkiei5sseke8h7m7ifnjutv</string>
	<key>API_KEY</key>
	<string>AIzaSyBsH8vsYfatGqF8Ne_BX2r6Bk0gve-_TtA</string>
	<key>GCM_SENDER_ID</key>
	<string>939447004484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itunes</string>
	<key>PROJECT_ID</key>
	<string>itunes-e487a</string>
	<key>STORAGE_BUCKET</key>
	<string>itunes-e487a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939447004484:ios:7b70fcee7676f9d0</string>
	<key>DATABASE_URL</key>
	<string>https://itunes-e487a.firebaseio.com</string>
</dict>
</plist>